.category-books {
  display: flex;
}

.list-category-books {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--text-secondary-color);
  opacity: 60%;
  list-style: none;
  cursor: pointer;
}

.list-category-books li:hover {
  color: var(--text-fourth-color);
}

.all-category {
  text-transform: uppercase;
}
