.category-books {
  display: flex;
  max-height: 258px;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--scroll-category-color) transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .category-books {
    width: 337px;
    max-height: 472px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .category-books {
    width: 356px;
    margin-bottom: 86px;
  }
}

.list-category-books {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--text-secondary-color);
  list-style: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .list-category-books {
    font-size: 18px;
    line-height: 1.3;
  }
}

.list-category-books li:hover {
  color: var(--text-fourth-color);
  opacity: 100%;
}

.list__category:nth-child(n) {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .list__category:nth-child(n) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.list__category:first-child {
  padding-top: 0;
}
.list__category:last-child {
  padding-bottom: 0;
}

.list__category {
  opacity: 60%;
}

.list__category[selected='true'] {
  text-transform: uppercase;
  color: var(--text-fourth-color);
  font-weight: 700;
  opacity: 100%;
}

.books-container-list-for-one-category {
  list-style-type: none;
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
  overflow: hidden;
}
.books-container {
  list-style-type: none;
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
  overflow: hidden;
}

.section-books {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .section-books {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .section-books {
    margin-bottom: 32px;
  }
}

.section-books-item {
  width: 335px;
  height: 535px;
}

@media screen and (min-width: 768px) {
  .section-books-item {
    width: 218px;
    height: 366px;
  }
}

@media screen and (min-width: 1440px) {
  .section-books-item {
    width: 180px;
    height: 306px;
  }
}

.section-books-item:nth-child(n + 2) {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-books-item:nth-child(n + 2) {
    display: block;
  }
  .section-books-item:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .section-books-item:nth-child(n + 2) {
    display: block;
  }
  .section-books-item:nth-child(n + 4) {
    display: block;
  }
}

.new-books {
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
  overflow: hidden;
}
