.header-mobile-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 50%;
    width: 375px;
    height: 100%;

    background-image: url(../../img/images/mobile-menu/mobile-menu-background-1x.png),radial-gradient(183.6% 183.01% at 59.76% -23.42%,#4f2ee8 18.03%,#fff 100%);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    transform: translateX(-50%) scale(1);
}


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header-mobile-menu {
        background-image: url(../../img/images/mobile-menu/mobile-menu-background-2x.png),radial-gradient(183.6% 183.01% at 59.76% -23.42%,#4f2ee8 18.03%,#fff 100%);
    }
  }

@media screen and (min-width: 768px) {
    .header-mobile-menu {
        display: none;
    }
}

@media screen and (max-height: 812px) {
    .header-mobile-menu {
      overflow-y: scroll;
    }
  }

.header-mobile-authorisation-btn {
    width: 184px;
    height: 48px;
    position: absolute;
    top: 104px;
    left: 20px;
        /* margin-top: 104px;
        margin-left: 20px; */
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: var(--body-secondary-color);
    background-color: var(--text-fourth-color);
    border: 1.5px solid var(--text-secondary-color);
    border-radius: 18px;
    padding-left: 12px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    cursor: pointer;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-arr-icon-yellow {
    stroke: var(--yellow-accent-color);
    margin-left: auto;
}

.btn-mobile-container {
    position: absolute;
    top: 270px;
    right: 90px;
    /* transform: translate(-50%, -50%) scale(1); */
}

.header-mobile-home-btn {
    padding: 8px 16px;
    border-radius: 36px;
    background-color: var(--yellow-accent-color);
    border: none;
    margin-top: 0;
    margin-bottom: 16px;
    cursor: pointer;
    
}

.header-mobile-home-link {
    text-decoration:none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--text-secondary-color);
    text-transform: uppercase;
}

.header-mobile-list-btn {
    display: flex;
    height: 36px;
    align-items: center;
    /* border-radius: 36px; */
    /* padding: 8px 16px; */
    background-color: transparent;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    border: none;
    cursor: pointer;
    color: white;
    
    /* background-color: var(--yellow-accent-color); */
    /* font-weight: 700; */
}

.header-mobile-list-link {
    text-decoration:none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: #fff;
}

.mobile-list-btn-svg {
    position: relative;
    top: 17px;
    margin-left: 4px;
    width: 30px;
    fill: white;
}