.section.header-section {
  padding-top: 0;
  padding-bottom: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1.5px solid var(--text-secondary-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: sticky;
  z-index: 1000;
}

.authorisation-btn-desktop.is-hidden-btn {
  display: none;
}

.logo {
  display: flex;
}

.logo-link {
  display: flex;
  align-items: center;
}

.icon-bookshelf {
  margin-left: 8px;
  color: black;
}

.icon-logo {
  text-align: center;
}

.header-nav {
  position: relative;
  height: 36px;
  display: flex;
  gap: 24px;
  text-align: center;
  align-items: center;
  margin-left: 72px;
}

@media screen and (max-width: 1440px) {
  .header-nav {
    margin-left: 40px;
  }
}

.home-btn {
  padding: 8px 16px;
  border-radius: 36px;
  background-color: transparent;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-secondary-color);
  text-transform: uppercase;
}

.list-btn {
  display: flex;
  height: 36px;
  align-items: center;
  border-radius: 36px;
  padding: 8px 16px;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  cursor: pointer;
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}

.list-btn-svg {
  position: relative;
  top: 3px;
  margin-left: 4px;
  width: 20px;
}
.home-btn:hover,
.home-btn:focus,
.list-btn:hover,
.list-btn:focus {
  border: 1.5px solid var(--text-fourth-color);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  background-color: var(--yellow-accent-color);
  font-weight: 700;
}

.settings-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .settings-nav {
    gap: 24px;
  }
}

.authorisation-btn {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--body-secondary-color);
  background-color: var(--text-fourth-color);
  border: 1.5px solid var(--text-secondary-color);
  border-radius: 18px;
  padding-left: 12px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  cursor: pointer;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authorisation-btn:hover,
.authorisation-btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15),
    3px 12px 38px -5px rgba(38, 34, 112, 0.494);
  transform: scale(1.01);
}

.authorisation-btn.is-hidden-btn {
  display: none;
}

.arr-icon-yellow {
  stroke: var(--yellow-accent-color);
  margin-left: 90px;
}

.checkbox {
  position: relative;
  top: 10px;
  left: -14px;
  width: 40px;
  height: 20px;
  background: linear-gradient(
    to bottom,
    rgb(79, 46, 232, 1),
    rgb(220, 220, 220, 1)
  );
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkbox:after {
  content: '';
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  transition: transform 0.3s;
  background: linear-gradient(
    to bottom,
    rgb(79, 46, 232, 1),
    rgb(104, 104, 104, 1)
  );
}

.checkbox:before {
  content: '';
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
  content: '';
  transition: transform 0.3s;
}

.checkbox-lable {
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  background: var(--body-secondary-color);
  border-radius: 50px;
  transition: all 0.4s ease;
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: inset 2px -3px 5px 0px var(--text-fourth-color);
}

.checkbox-input {
  visibility: hidden;
}

.checkbox-input:checked + label {
  left: 21px;
  background-color: var(--body-secondary-color);
  box-shadow: inset 0px -3px 5px 0px var(--text-fourth-color);
}

.burger-menu-btn {
  background-color: transparent;
  border: transparent;
  padding: 0px;
  cursor: pointer;
  /* margin-left: 24px; */
}

.burger-menu-icon {
  stroke: var(--text-secondary-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-icon:hover,
.burger-menu-icon:focus {
  stroke: var(--yellow-accent-color);
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .wraper-user-select,
  .authorisation-btn,
  .header-nav {
    display: none;
  }
}

.is-hidden-mobile {
  opacity: 0;
}

.is-hidden-btn {
  display: none;
  pointer-events: none;
}

.close-menu-btn {
  width: 28px;
  height: 28px;
  padding: 0px;
  background-color: transparent;
  border: transparent;
  color: var(--text-secondary-color);
  cursor: pointer;
  /* margin-left: 24px; */
}

.close-menu-icon {
  stroke: var(--text-secondary-color);

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-icon:hover,
.close-menu-icon:focus {
  stroke: var(--yellow-accent-color);
  transform: rotate(360deg);
}
