#scroll-top {
    position: fixed;
    bottom: 140px;
    right: 20px;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 4px solid rgba(79, 46, 232, 0.3);
}
@media screen and (min-width: 768px) {
    #scroll-top {
        bottom: 80px;
        right: 25px;
    }
}

@media screen and (min-width: 1440px) {
    #scroll-top {
        right: 30px;
    }
}

.scroll-up-btn-icon {
    /* position: relative; */
    cursor: pointer;
    border-radius: 50%;

    fill: var(--body-secondary-color);
    /* stroke: var(--body-secondary-color); */
    stroke-width: 1px;
    background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--text-fourth-color) 18.03%,
    var(--body-secondary-color) 100%
    );
    transition: transform 250ms linear, stroke 250ms linear;
    animation: pulse-animation 8s infinite;
}

@keyframes pulse-animation {
    0%  {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    35% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    65% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

.js-scroll-up .scroll-up-btn-icon:hover,
.js-scroll-up .scroll-up-btn-icon:focus {
    /* stroke: rgba(79, 46, 232, 0.7); */
    fill: rgba(79, 46, 232, 0.7);
    animation-play-state: paused;
}

.js-scroll-up {
    opacity: 1;
    transition: opacity 250ms linear;
}

.js-scroll-up_hidden {
    opacity: 0;
}