.sh-title {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
}
@media screen and (max-width: 375px) {
  .sh-title {
    font-size: 7.7vw;
  }
}
@media screen and (min-width: 768px) {
  .sh-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}
.shopping-title {
  color: var(--text-main);
}
.title-span {
  color: var(--color-accent);
}

.empty-sh-list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .empty-sh-list {
    margin-top: 140px;
  }
}
.book-column-img {
  margin: 0 auto;
  width: 265px;
}
@media screen and (min-width: 768px) {
  .book-column-img {
    width: 322px;
  }
}
.main-sh-list {
  width: 100%;
}

.shop-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sh-list-section {
  width: 100%;
}

.shopping-list-item {
  position: relative;
  display: flex;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: var(--body-secondary-color);
  width: 374px;
}
@media screen and (min-width: 768px) {
  .shopping-list-item {
    position: relative;
    display: flex;
    padding: 30px 24px;
    width: 705px;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-list-item {
    width: 995px;
  }
}
.sh-book-title {
  margin-bottom: 4px;
  color: var(--text-main);
  font-size: 3.7vw;

  line-height: 1.13;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 375px) {
  .sh-book-title {
    margin-top: 0px;
    font-size: 16px;
  }
}
@media screen and (min-width: 767px) {
  .sh-book-title {
    line-height: 1.17;
  }
}
.sh-book-category {
  margin-bottom: 8px;
  color: var(--text-second);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
}
@media screen and (min-width: 375px) {
  .sh-book-category {
    margin-top: 0px;
  }
}

.div-text-container {
  height: 68px;
  overflow: hidden;
}

.sh-book-description {
  color: var(--text-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.56px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@media screen and (max-width: 375px) {
  .sh-book-description {
    margin-top: 0px;
    width: 193px;
    height: 63px;
  }
}
.sh-book-author {
  color: var(--text-second);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}
@media screen and (min-width: 375px) {
  .sh-book-author {
    margin-right: 4px;
  }
}

.shopping-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sh-book-img {
  margin-right: 14px;
  width: 100px;
  height: 142px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .sh-book-img {
    margin-right: 24px;
    width: 116px;
    height: 165px;
  }
}
.book-stores {
  filter: saturate(0%);
}

.amazon-store {
  width: 32px;
}
@media screen and (min-width: 768px) {
  .amazon-store {
    width: 48px;
  }
}
.sh-soc-item:is(:hover, :focus) {
  scale: 1.1;
}

.book-shop {
  width: 16px;
}
@media screen and (min-width: 768px) {
  .book-shop {
    width: 32px;
  }
}

.apple-store {
  width: 16px;
}
@media screen and (min-width: 768px) {
  .apple-store {
    width: 28px;
  }
}

.sh-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .sh-wrap {
    justify-content: space-between;
    width: 100%;
  }
}
.js-dark-mode-amazon {
  filter: brightness(0) invert(1);
}

.js-dark-mode-amazon:is(:hover, :focus) {
  filter: invert(1) brightness(1);
}

.js-dark-mode-apple:is(:hover, :focus) {
  filter: saturate(1);
}

.sh-list-delete-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;

  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: var(--text-fourth-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .sh-list-delete-btn {
    bottom: 68%;
    left: 93%;
    margin-left: 0;
    margin-bottom: 0;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .sh-list-delete-btn {
    bottom: 72%;
    left: 95%;
    margin-left: 0;
    margin-bottom: 0;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1440px) {
  .sh-list-delete-btn {
    bottom: 68%;
    left: 96%;
  }
}

.sh-book-info-link-wrap {
  display: flex;
  justify-content: space-between;
}

.sh-list-delete-icon {
  fill: #4f2ee8;
  stroke: #fff;
}

@media screen and (min-width: 768px) {
  .sh-book-category {
    margin-bottom: 8px;
  }
}

.empty-sh-list-text {
  margin: 0 auto;
  width: 244px;
  color: var(--sidebar-categories);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .empty-sh-list-text {
    width: 349px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}
@media screen and (min-width: 375) {
  .store-link-img {
    width: 50px;
    height: 50px;
  }
}
/* .shop-list {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.shopping-list-item {
  background-color: var(--header);
  border: 2px solid rgba(79,46,232,.4);
  border-radius: 16px;
  padding: 14px;
  display: flex;
  position: relative;
}

.sh-book-img {
  border-radius: 8px;
  width: 100px;
  height: 142px;
  margin-right: 14px;
}

.sh-wrap {
  flex-direction: column;
  gap: 14px;
  display: flex;
  position: relative;
} */

/* .sh-book-img {
  width: 116px;
  height: 165px;
  margin-right: 24px;
}
.sh-wrap {
  flex-direction: column;
  gap: 14px;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.sh-book-category {
  color: #d9d9d9;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .sh-book-category {
    margin-bottom: 8px;
  }
}
.sh-book-description {
  color: var(--text-secondary-color);
  letter-spacing: -0.56px;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.23;
  display: -webkit-box;
}
.sh-book-author {
  color: #b4afaf;
  letter-spacing: -0.48px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
}
.sh-book-title {
  color: var(--text-main);
  letter-spacing: -0.64px;
  margin-bottom: 4px;
  font-size: 3.7vw;
  line-height: 1.13;
}
@media screen and (min-width: 375px) {
  .sh-book-title {
    font-size: 16px;
  }
}

@media screen and (min-width: 767px) {
  .sh-book-title {
    line-height: 1.17;
  }
}
.shopping-links {
  align-items: center;
  gap: 8px;
  display: flex;
}
.sh-book-info-link-wrap {
  justify-content: space-between;
  display: flex;
}
.sh-list-delete-btn {
  background-color: #4f2ee8;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .sh-list-delete-btn {
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    margin-left: 0;
    bottom: 72%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
}
.sh-list-delete-icon {
  fill: #4f2ee8;
  stroke: #fff;
}

.shop-title {
  margin-bottom: 40px;
} */
