@import url('./total-css/header.css');
@import url('./total-css/footer.css');
@import url('./total-css/scroll-up-btn.css');
@import url('./total-css/modal.css');
@import url('./total-css/loader.css');
@import url('./total-css/fonts.css');
@import url('./total-css/support-ukraine.css');
@import url('./total-css/category-books.css');
@import url('./total-css/best-sellers.css');
@import url('./total-css/shop-list-di.css');
@import url('./total-css/aside-menu.css');


:root {
  --body-background-color: #f6f6f6;

  --body-secondary-color: #ffffff;

  --text-color: rgba(17, 17, 17, 0.6);

  --text-secondary-color: #111111;

  --text-fourth-color: #4f2ee8;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;

  color: var(--text-secondary-color);
  background-color: var(--body-background-color);

  transition: 0.5s;

  margin: 0; /*Прибрати як поставимо modern-normalize */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  /* min-width: 100%; */
  height: auto;
  display: block;
}

.container {
  position: relative;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
